<p>
    <mat-toolbar color="muted">
      <div class="logo">
        <img src="https://i.pinimg.com/originals/4c/0a/ea/4c0aea926e37820bc745d465d8004b82.jpg" alt="">
      </div>
      <div class="text"> &nbsp; Moto Hub</div>
      <!-- <span>Moto Hub</span> -->
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>help_outline</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
        <!-- <button mat-menu-item>Sign Out</button> -->
      </button>
    </mat-toolbar>
  </p>