<!-- cards -->
<div class="card">
    <mat-card>
        <app-card
        img="https://ae01.alicdn.com/kf/HTB1FKMyX0fvK1RjSszhq6AcGFXaS/Full-Face-Carbon-Fiber-Motorcycle-Helmet-Professional-Racing-Helmet-Kask-DOT-Rainbow-Visor-Motocross-Off-Road.jpg"
        content="Full Face Carbon Fibre"
        ></app-card>
        </mat-card>

        <mat-card>
            <app-card
            img="https://i.pinimg.com/564x/38/3e/55/383e55c1f548d54aa81f614b568e142c.jpg"
            content="T-GP R V2 WATERPROOF JACKET"
            ></app-card>
            </mat-card>

            <mat-card>
                <app-card
                img="https://i.pinimg.com/564x/f0/e5/c7/f0e5c7bef4ec0452c818fd5cb2d74199.jpg"
                content=" VEMAR WP-01 Motorcycle Warm Gloves"
                ></app-card>
                </mat-card>

                <mat-card>
                    <app-card
                    img="https://i.pinimg.com/736x/a9/a1/c5/a9a1c5d4b523842f427b8f477dd08876.jpg"
                    content="Team USA Fox Instinct Boots"
                    ></app-card>
                    </mat-card>
   
    
   
    
</div>

<div>
    <app-area-chart></app-area-chart>
</div>
<!-- table  and pie chart--> 
<div class="parent">
    <div> 
    <app-table></app-table>
    </div>

    <div>
    <app-pie-chart></app-pie-chart>
    </div>
</div>