<div class="admin">
    <img src="http://clipground.com/images/motocros-clipart-13.jpg" height="100%" width="200px" alt="">
    <h2>Moto Hub</h2>
    <p>Motohub@gmail.com</p>
    </div>
    
    <mat-divider></mat-divider>
    
    <div class="pages">
        <h3>Pages</h3>
        <a routerLink="">Dashboard</a>
        <a routerLink="gallery">Gallery</a>
        <a routerLink="employees">Our Collection</a>
    </div>
    
    <mat-divider></mat-divider>
    
    <div class="tools">
        <h3>Tools</h3>
        <a routerLink="add-employee"><mat-icon>verified user</mat-icon>Accessories</a>
        <a routerLink="lead"><mat-icon>build</mat-icon>Services</a>
    </div>